body {
  padding: 10px;
  font-family: sans-serif;
}

content .info {
  margin-bottom: 2rem;
  text-align: center;
}

content .info h3 {
  display: inline;
  margin-right: 2rem;
}

content .info h3:last-child {
  margin-right: 0px;
}

content .info h3 span.player-1::after {
  content: '\2717';
}

content .info h3 span.player-2::after {
  content: '\25EF';
}

table {
  border-collapse: collapse;
  border-style: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

table td {
  border: 5px solid black;
}

.field {
  background-color: white;
  height: 150px;
  overflow: hidden;
  width: 150px;
}

.field.player-null {
  cursor: pointer;
}

.field.player-1, .field.player-2 {
  background-color: whitesmoke;
}

.field.player-1 span.item::after {
  content: '\2717';
  display: block;
  font-size: 5rem;
  text-align: center;
}

.field.player-2 span.item::after {
  content: '\25EF';
  display: block;
  font-size: 5rem;
  text-align: center;
}