<template name="layoutBoard">
    <div class="layout-board">
        {{#if isLoggedIn}}
            {{#if isPlayerInGame}}
                <div class="info">
                    <h3>{{ playerInfo.player1DisplayName }} : <span class="player-1"></span></h3>
                    <h3>{{ playerInfo.player2DisplayName }} : <span class="player-2"></span></h3>
                    <h3>{{ statusText status}}</h3>
                </div>
                {{> board}}
            {{else}}
                {{#if canJoinGame}}
                    <p class="info-join">You haven't joined on this game.</p>
                    <p class="info-join action-join">Join Now!</p>
                {{else}}
                    <p class="info-join">Sorry, you can't participate to this game.</p>
                {{/if}}
            {{/if}}
        {{else}}
            <p>Please Sign In to access this page</p>
        {{/if}}
    </div>
</template>